{% set parts = page.url | split('/') %}

<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    {% for part in parts %}
      {% if part %}
        <li>/</li>
        <li>
          <a href="/{{ part }}/">{{ part | titleCase }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
