<footer class="site-footer">
  <ul>
    <li><a href="/privacy/">Privacy Policy</a></li>
    <li><a href="/about/">About Us</a></li>
    <li><a href="/sitemap/">Site Map</a></li>
  </ul>
  <p>© {{ site.year }} Wanaoni Family</p>
</footer>
