<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Wanaoni Family",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}/assets/images/logo.png",
  "sameAs": [
    "https://facebook.com/wanaonifamily",
    "https://instagram.com/wanaonifamily"
  ]
}
</script>
