<nav class="site-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/gallery/">Gallery</a></li>
    <li><a href="/events/">Events</a></li>
    <li><a href="/recipes/">Recipes</a></li>
    <li><a href="/guestbook/">Guestbook</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/sitemap/">Site Map</a></li>
  </ul>
</nav>
