<meta property="og:title" content="{{ title | default('Wanaoni Family') }}">
<meta property="og:description" content="{{ description | default('A loving family portal') }}">
<meta property="og:image" content="{{ site.url }}/assets/images/og-image.jpg">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ site.url }}/assets/images/twitter-image.jpg">
