---
layout: base.njk
title: "Site Map"
---
<h1>Site Map</h1>
<ul>
{% for page in collections.all %}
  {% if page.url != '/404.html' %}
  <li><a href="{{ page.url }}">{{ page.data.title or page.url }}</a></li>
  {% endif %}
{% endfor %}
</ul>
