---
layout: base.njk
title: Contact Us
permalink: /contact/index.html
---

<h2>{{ title }}</h2>
<form action="https://formspree.io/f/mdkdoenp" method="POST">
  <label>Your Name:<br>
    <input type="text" name="name" required>
  </label><br>
  <label>Your Email:<br>
    <input type="email" name="email" required>
  </label><br>
  <label>Message:<br>
    <textarea name="message" rows="5" required></textarea>
  </label><br>
  <button type="submit">Send Message</button>
</form>
